.BigCard {
    width: 50%;
    height: 300px;
    background: linear-gradient(#18dcff, #17c0eb);
    border: 0.5px solid #ccc;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-radius: 7px;
    text-align: left;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    animation: start 0.5s linear;
}

.min-temp {
   margin-left: 2%;
}

.max-temp {
    margin-left: 50%;
}

.title {
    display: block;
    text-align: center;
    font-size: 40px; 
    font-weight: bold;
}

.img-weather {
    display: block;
    margin-top: -7%;
    margin-bottom: 0px;
    margin-left: 43%;
    height: 75px;
}

.current-weather {
    display: block;
    margin-top: -3%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.desc {
    display: block;
    margin-top: -2%;
    text-align: center;
}

.humidity {
    display: block;
    margin-top: -3%;
    margin-left: 2%;
}

.wind-speed {
    display: block;
    margin-top: -6%;
    margin-left: 69%;
    font-size: 23px;
}

@keyframes start {
    0% {
        transform: scale(0.7);
    }
    25% {
        transform: scale(0.8)
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media(max-width: 500px) {
    .BigCard {
        width: 90%;
        height: 260px;
    }
    .max-temp {
        margin-left: 35%;
    }
    .wind-speed {
        margin-left: 58%;
        margin-top: -8%;
        font-size: 15px;
    }
    .humidity {
        margin-top: -5%;
    }
    .title {
        font-size: 35px;
    }
}