.NavigationItem {
    width: 140px;
    height: 60px;
    display: block;
    margin: 1% 0;
    flex-flow: row;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
    font-family: inherit;
    font-size: 25px;
    background-color: inherit;
    color: white;
}

.default {
    cursor: pointer;
    background-color: #00a8ff;
    animation: hover 0.3s linear;
}

.night {
    cursor: pointer;
    background-color: linear-gradient(#30336b,#130f40);
    animation: hover 0.3s linear;
}

.morning {
    cursor: pointer;
    background-color: linear-gradient(#ffeaa7, #fdcb6e);
    animation: hover 0.3s linear;
}

.afternoon {
    cursor: pointer;
    background-color: linear-gradient(#fbc531, #e1b12c);
    animation: hover 0.3s linear;
}

.Button {
    width: 110px;
    height: 50px;
}

@keyframes hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.icon {
    margin: -1% 0 -3% 0; 
}

@media(max-width: 500px) {
    .NavigationItem {
        display: block;
        font-size: 15px;
        width: 60px;
        height: 50px;
        border: none;
    }
    .Button {
        width: 70px;
        height: 40px;
        border: 1px solid #ccc;
    }
}