.Jumbotron {
    height: 250px;
    display: flex;
    flex-flow: column;
    padding: auto;
    width: 90%;
    background: linear-gradient(#18dcff, #17c0eb);
    border: 0.5px solid #ccc;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.night {
    background: linear-gradient(#30336b,#130f40);
}

.morning {
    background: linear-gradient(#ffeaa7, #fdcb6e);
}

.afternoon {
    background: linear-gradient(#fbc531, #e1b12c);
}

.Text {
    font-size: 70px;
    display: block;
}

@media(max-width: 500px) {
    .Jumbotron {
        height: 200px;
    }
    .Text {
        font-size: 30px;
    }
}